.contacts
    a.contact(href="tel:+79999999999")
        i.fas.fa-mobile-alt.contact__icon
        span.contact__text +7 (999) 999-99-99
                
    a.contact(href="mailto:info@company.ru")
        i.far.fa-envelope.contact__icon.contact__icon--email
        span.contact__text info@company.ru

    a.facebook-icon(href="facebook.com")
        i.fab.fa-facebook-f