header.header
    .header__top
        .container
            .contacts
                a.contact(href="tel:+79999999999")
                    i.fas.fa-mobile-alt
                    span.contact__text +7 (999) 999-99-99
                
                a.contact(href="mailto:info@company.ru")
                    i.far.fa-envelope
                    span.contact__text info@company.ru

                a.facebook-icon(href="facebook.com")
                    i.fab.fa-facebook-f
    .container
        .header__bottom
            .logo: img.logo__picture(src="images/logo.png" alt="picture")